<%= form_for [inscription, scribble], remote: true do |f| %>
	<div class="form-group new-scribble">
		<%= f.label :body, class: 'sr-only' %>
		<%= f.text_field :body, class: 'form-control', placeholder: "Scribble Here" %>
	</div>
	<div class="spacer"></div>
	<%= f.submit "Submit", class: 'btn btn-default pull-right' %>
<% end %>