<% if @scribble.destroyed? %>
	$('#scribble-' +<%= @scribble.id %>).hide();
<% else %>
	$('.flash').prepend("div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:error] %></div>");
<% end %>