<div class="media">
	<div class="media-body">
		<h3><%= link_to inscription.title, inscription %></h3>
		<small>
			<p><%= inscription.body %></p>
			<p class="date"><%= inscription.created_at %></p>
		</small>

	</div>
</div>
