<h1>Inscriptions

<%= link_to "Inscribe Something", new_inscription_path, class: 'btn btn-success' %> </h1><div class="spacer"></div>

<div class="row">
	<div class="col-md-8 col-md-offset-1 spacer">
	
		<%= render @inscriptions %>
	</div>
</div>