<h1>Inscriptions<%= link_to "Inscribe Something", new_inscription_path, class: 'btn btn-success left-margin' %> 
</h1>

<div class="row">
	<div class="col-md-8">
		<%= render @inscriptions %>
	</div>
</div>