<div class="header">
	<h1>
		<%= render @inscription %>
	</h1>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="header">
			<%= link_to "Edit", edit_inscription_path, class: 'btn btn-success' %>
		</div>
		<div class="header">
			<%= link_to "Delete", @inscription, method: :delete, class: 'btn btn-danger', data: {confirm: 'Destroy Inscription?'} %>
		</div>
		<div>
			<h3>Scribbles</h3>
			<%= render @inscription.scribbles %>
		</div>
	</div>
</div>