@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'TQF';
    src: url('TQF_PCMedium.woff') format('woff'),
		 url('TQF_PCMedium.woff2') format('woff2');
}

@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans.woff') format('woff'),
		 url('GillSans.woff2') format('woff2');
}

body{
	background-color: #1d1d1d;
	font-family: 'Gill Sans';
}

.icon-bar{
	color:#FFF;
}

.navbar{
	font-family: 'TQF';
}

.navbar-nav > li > a {
	color: #FFF
}

.navbar-nav > li > a:hover {
	background-color: #00A99D;
	color: #FFF;
}

.left-padding {
	padding-left: 15px;
}

.spacer {
	margin-bottom: 20px;
}

label {
	color: #FFF;
}

h1{
	color: #FFFFFF;
	font-family: 'TQF';
	display: inline;
	}

h3 {
	color: #00A99D;
	font-family: 'TQF';
	display: inline;
}

a {
	color: #00A99D;
}

a:hover {
	color: #007F76;
	text-decoration: none;
}

p {
	color: #FFFFFF;
	font-size: 14px;
}

.inscriptions {
	border: #FFF 1px solid;
	border-radius: 10px;
	padding:20px 20px 20px 20px;
}

//inscription dates
p.date{
	color:#6a6c59;
}

//inscribe something button
.btn-success {
	background-color: #00A99D;
	color: #FFFFFF;
	border-color: #00A99D;
}

.btn-success:hover {
	background-color: #007F76;
	border-color: #007F76;
}

.btn-default {
	background-color: #6270d6;
	border-color: #6270d6;
}

.btn-default:hover {
	background-color: #4147b3;
	border-color: #4147b3;
}

//delete button
.btn-danger {
	background-color: #da0159;
	border-color: #da0159;
}

.btn-danger:hover {
	background-color: #cf0154;
	border-color: #cf0154;
}

//edit button
.edit{
    background-color: #25a190;
    border-color: #25a190;
    color: #fff;
}

.edit:hover{
    background-color: #007f76;
    border-color: #007f76;
}


//alerts
.alert-success {
    background-color: #00A99D;
    border-color: #00A99D;
    color: #fff;
}